/* General Styles ___________________________________________________*/

* {
  padding: 0;
  margin: 0;
}

h1 {
  padding-left: 15px;
  line-height: 30px;
  background: repeating-linear-gradient(
    -45deg,
    rgba(0,0,0,0),
    rgba(0,0,0,0) 2px,
    rgba(0,0,0,0.1) 2px,
    rgba(0,0,0,0.1) 4px
  )
}

ul {
  list-style: none;
}

li {
  border-bottom: dotted 1px black;
  margin: 10px 0 0 8px;
}

/* Grid ________________________________________________________*/
.main-container {
  width: 60%;
  margin: 0 auto;
}

.column-container {
  display: table;
}

.left-column {
  width: 70%;
  background-color: #E9E9E7;
}

.right-column {
  width: 30%;
  background-color: #998A67;
}

.column {
  display: table-cell;
}

/* images _______________________________________________ */

img {
  width: 100%;
  display: inherit;
}

/* right column ________________________________*/
.right-column li a {
  font-weight: bold;
  color: #E5D9BC;
  list-style-position: inside;
  display: list-item;
  list-style-type: disc;
}
.right-column li a:hover{
  color: #7ECDFF;
}

.right-column li a.designer-name {
  font-weight: normal;
  color: #595339;
  display: inline;
}

.right-column li a.designer-name:hover{
  color: #7ECDFF;
}

/* custom __________________________*/

.whole-div-shaddow{
  box-shadow: 0 0 10px #999999;
}